 {% load static%}
<!DOCTYPE html>
<head>

    <h1>You have arrived at the Cave of Lost Souls!</h1>
</head>
<body>
<img src="{% static 'main/images/cave.jpg' %}" alt="cave">
{% block Content %} {% endblock %}

<p>You enter the cave and immediately you feel the heavy weight of doom pressing on your chest. You are a brave adventurer however
and you are determined to explore this dungeon and find the treasures that await you. You will also have to brave the monsters within that would
like nothing more than to feast on your entrails.
<br>
<br>
As you head further into the cave you come do an intersection. You can go right or left.
<img src="{% static 'main/images/cavern.jpg' %}" alt="cavern"> If you want to go right keeping reading below.
<h2>The Right Cavern</h2>
Heading down the right path...
<img src="{% static 'main/images/tunnel.jpg' %}" alt="tunnel">
</p>

</body>

</html>